{% extends '_Base.html' %}
{% load static %}

    {% block title %}
        CoffeeShop® - Đăng ký
    {% endblock %}

    {% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Đăng ký</h1>
                <a href="">Trang chủ</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">Đăng ký</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    
    <!-- Contact Start -->
    <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
        <div class="container">
            <div class="row g-5 mb-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-geo-alt fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Văn phòng</h6>
                        <span>227 Nguyễn Văn Cừ, P4, Q5</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-envelope-open fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Email</h6>
                        <span>nnlg9214@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Gọi ngay</h6>
                        <span>0932.745.xxx</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="get">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                {{ thong_bao|safe }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_lien_he.name }}
                            </div>
                            <div class="col-sm-6">
                                {{ form_lien_he.email }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_lien_he.subject }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_lien_he.message }}
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-primary border-inner w-100 py-3" type="submit">ĐĂNG KÝ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    {% endblock %}
